{% extends 'tom_common/base.html' %}
{% load comments bootstrap4 tom_common_extras targets_extras observation_extras dataproduct_extras static cache %}
{% block title %}Target {{ object.name }}{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_targets/css/main.css' %}">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4">
    <div id="target-info">
      {% target_feature object %}
      {% if object.future_observations %}
      <div class="alert alert-success">
        {{ object.future_observations|length }} upcoming observation{{ object.future_observations|pluralize }}
      </div>
      {% endif %}
      {% target_data object %}
      {% aladin object %}
    </div>
  </div>
  <div class="col-md-8">
    <ul class="nav nav-tabs" id="tabs">
      <li class="nav-item">
        <span class="nav-link" data-target="#manage-data" data-toggle="tab">Manage Data</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" data-target="#photometry" data-toggle="tab">Photometry</span>
      </li>
      <li class="nav-item">
        <span class="nav-link" data-target="#spectroscopy" data-toggle="tab">Spectroscopy</span>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="manage-data">
        {% include 'tom_dataproducts/upload_dataproduct.html' %}
        {% dataproduct_list_for_target object %}
      </div>
      <div class="tab-pane" id="photometry">
        {% photometry_for_target target %}
        </div>
      <div class="tab-pane" id="spectroscopy">
        {% spectroscopy_for_target target %}
      </div>
      {% comments_enabled as comments_are_enabled %}
      <hr/>
      <h5>Comments</h5>
        {% if comments_are_enabled %}
          {% render_comment_list for object %}
          {% url 'targets:detail' object.id as next %}
          {% if user.is_authenticated %}
            {% render_comment_form for object %}
          {% endif %}
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
